# -*- coding: utf-8 -*-
# vim: ft=yaml
# yamllint disable rule:comments-indentation
---
gitea:
    # Request a specific version or leave 'latest', which will
    # resolve when running the state.
    # Updates are possible by changing the version. Latest
    # will do that automatically on subsequent runs.
  version: latest

    # Service configuration allows to request mount paths or
    # other service units. This is especially important if you
    # run Memcached/Redis. For databases, `post-map.jinja` appends
    # the database type automatically.
    # Example: If you run Redis on localhost, specify
    # wants: ['redis'] (or however the unit is called, without `.service` suffix).
  service:
    requires_mount: []
      # This is intended to setup socket activation. It is currently a draft
      # and not functional.
    socket_activation: false
    wants: []

    # This is the custom configuration.  For possible configuration values,
    # see the official docs or the example file.
    # It is recommended to keep all the keys lowercase to avoid
    # issues with some autoconfiguration done by this formula.
  config:
      # Since this formula skips the web installer,
      # the database configuration is required. This is just
      # an example.
    database:
      db_type: sqlite3
      name: gitea
      password: hunter1
      user: root

      # Values in `default` are dumped without an associated scope.
    default:
      app_name: Gitea
      run_mode: prod
      run_user: git

    log:
      level: Info
      mode: console
      stacktrace_level: None

      # If this secret is unspecified, it will be autogenerated by Salt
      # and be saved as a minion grain value.
    oauth2:
      jwt_secret: ''

      # Children of scopes are expressed with a dot.
    repository.signing:
      signing_key: default

      # Those secrets would be generated by the web installer.
      # Specify them here explicitly or let Salt handle their generation.
      # In the latter case, `internal_token_uri` will be set to a file
      # generated by gitea and `secret_key` will be saved as a minion grain value.
    security:
      internal_token: ''
      secret_key: ''

    server:
      domain: localhost
      http_addr: 0.0.0.0
      http_port: 3000
        # If this secret is unspecified, it will be autogenerated by Salt
        # and be saved as a minion grain value.
      lfs_jwt_secret: ''
      protocol: http

    # This is where a lot of the default parameters are looked up.
    # You should not need to change these values, except for changing
    # the default paths.
  lookup:
    gpg:
      key: 7C9E68152594688862D62AF62D9AE806EC1592E2
      keyserver: keys.openpgp.org
    group: git
    paths:
      bin: /opt/gitea
      conf: /etc/gitea
      custom: /var/lib/gitea/custom
      data: /var/lib/gitea/data
      home: /var/lib/gitea/home
      internal_token_uri: file:///etc/gitea/internal_token
      log: /var/log/gitea
      repos: /var/lib/gitea/data/gitea-repositories
      work: /var/lib/gitea
    pkg:
      latest: https://dl.gitea.io/gitea/version.json
      sig: https://dl.gitea.io/gitea/{version}/gitea-{version}-linux-{arch}.asc
      source: https://dl.gitea.io/gitea/{version}/gitea-{version}-linux-{arch}
      source_hash: https://dl.gitea.io/gitea/{version}/gitea-{version}-linux-{arch}.sha256  # yamllint disable-line rule:line-length
    requirements:
      - git
      - gpg
      - python-gnupg
    shell: /bin/bash
    user: git

  tofs:
      # The files_switch key serves as a selector for alternative
      # directories under the formula files directory. See TOFS pattern
      # doc for more info.
      # Note: Any value not evaluated by `config.get` will be used literally.
      # This can be used to set custom paths, as many levels deep as required.
    files_switch:
      - any/path/can/be/used/here
      - id
      - roles
      - osfinger
      - os
      - os_family

      # All aspects of path/file resolution are customisable using the options below.
      # This is unnecessary in most cases; there are sensible defaults.
      # Default path: salt://< path_prefix >/< dirs.files >/< dirs.default >
      # I.e.: salt://gitea/files/default
      # path_prefix: template_alt
      # dirs:
      #   files: files_alt
      #   default: default_alt
      # The entries under `source_files` are prepended to the default source files
      # given for the state
    source_files:
      gitea-config-file-file-managed:
        - 'app_alt.ini'
        - 'app_alt.ini.jinja'
